<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="https://avatars0.githubusercontent.com/u/17768868?s=460&v=4">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Choose a movie you like</h1>

    <ion-searchbar color="light" animated margin-top
                   placeholder="Find a movie that interests you"
                   searchIcon="search" mode="ios"></ion-searchbar>

    <ion-segment scrollable mode="md" margin-top>
        <ion-segment-button checked>
            Premiere
        </ion-segment-button>
        <ion-segment-button>
            Most Popular
        </ion-segment-button>
        <ion-segment-button>
            Preview
        </ion-segment-button>
        <ion-segment-button>
            Blockbuster
        </ion-segment-button>
        <ion-segment-button>
            Top chart
        </ion-segment-button>
    </ion-segment>

    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let movie of movies" [style.background-image]="'url(' + movie.image + ')'">
            <ion-chip>
                <ion-icon name="star"></ion-icon>
                <ion-label>{{movie.stars}}</ion-label>
            </ion-chip>
            <!-- <ion-chip>
                <ion-label>
                    <h4 padding>{{movie.title}}</h4>
                </ion-label>
            </ion-chip> -->
        </ion-slide>
    </ion-slides>
</ion-content>
