<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=" " mode="ios"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="movieDetails">
    <div class="container" [style.background-image]="'url(' + movieDetails.image + ')'">
        <div margin class="details">
            <ion-text>
                <h3>{{movieDetails.title}}</h3>
            </ion-text>
            <div class="stars">
                <ion-icon *ngIf="movieDetails.stars >= 1" name="star"></ion-icon>
                <ion-icon *ngIf="movieDetails.stars >= 2" name="star"></ion-icon>
                <ion-icon *ngIf="movieDetails.stars >= 3" name="star"></ion-icon>
                <ion-icon *ngIf="movieDetails.stars >= 4" name="star"></ion-icon>
                <ion-icon *ngIf="movieDetails.stars >= 5" name="star"></ion-icon>
            </div>
            <ion-text class="tags">
                <p>Adventure, Animation</p>
            </ion-text>

            <br>

            <ion-text class="synopsis">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rem sit ut optio quidem
                nostrum provident consequuntur, enim facere repellat libero dolore quas dignissimos
                dolorem vitae repellendus iste dolor cumque!</p>
            </ion-text>

            <ion-button expand="block" shape="round">Buy Ticket</ion-button>
        </div>
    </div>
</ion-content>
